<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %> | Node.js Blog
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <%- include('partials/navbar') %>
            <div class="row">
                <div class="test1 col-3">fsdf</div>
                <div class="test2 col-3">sdfsd</div>
            </div>




    </div>
    <%- include('partials/footer') %>
        </div>
</body>

</html>